
nav {
    margin: 0 auto;
    padding: 15px 0;
    background-color: @nav-bg;
    border-bottom: 2px solid @nav-border;
    .flex(center, center, column);

    .links {
        margin-top: 20px;
        width: 25%;
        .flex(space-between);

        @media @phone {
            width: 75%;
        }
        
        a {
            text-decoration: none;
            color: @nav-font;
        }
    }
}